.img {
    border: solid black 1px;
    margin: 2px;
}

#mood img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: black solid 2px
}

#header {
    margin-bottom: 50px;
}